@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

$black: #171717;
$gray: #444444;
$red: #DA0037;
$white: #EDEDED;
$secondary-red: #F05454;
$terciary-red: #7D0633;
$blue: #4D4C7D;
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}